<link href="/styles/dashboard.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/default.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>

<% include parts/navbar.ejs %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <% include parts/sidebar.ejs %>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <!-- Main content -->
      <h1 class="page-header">Broadcasts
        <div class="pull-right">
          <button class="btn btn-success btn-md" data-target="#addBroadcastModal" data-toggle="modal" type="button">
            Add Broadcast
          </button>
        </div>
      </h1>
      <% if (broadcasts.length > 0) { %>
        <% for (var i = 0; i < broadcasts.length; i++) { %>
          <div class="card">
            <h1 class="card-title"><%= broadcasts[i].title %>
              <a class="pull-right btn btn-primary" href="/broadcast/<%=broadcasts[i].bid %>">Edit</a>
            </h1>
            <h4 class="card-date"><%= broadcasts[i].date %></h4>
            <p class="card-summary"><%= broadcasts[i].summary %></p>
            <pre><code><%= broadcasts[i].embedCode %></code></pre>
          </div>
        <% } %>
      <% } else { %>
      <center>
        <h1 style="margin-top: 50px; font-weight: 300;">No Broadcasts</h1>
      </center>
      <br/>
      <center>
        <button class="btn btn-success btn-lg" data-target="#addBroadcastModal" data-toggle="modal" type="button">
          Add Broadcast
        </button>
      </center>
    <% } %>
  </div>
</div>
</div>

<div aria-labelledby="broadcastModalLabel" class="modal fade" id="addBroadcastModal" role="dialog" tabindex="-1">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="broadcastModalLabel">Add Broadcast</h4>
    </div>
    <div class="modal-body">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Note</h3>
        </div>
        <div class="panel-body">
          Note the <code>HTTP</code> in the embed code.  Please change <code>HTTP</code> to <code>HTTPS</code> to ensure that the connection is secure.  Blog Talk Radio does not do this by default.
        </div>
      </div>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input class="form-control" id="title" placeholder="Title" type="text">
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          <input class="form-control" id="date" type="date">
        </div>
        <div class="form-group">
          <label for="summary">Summary</label>
          <textarea class="form-control" id="summary" placeholder="Summary" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="embedCode">Embed Code</label>
          <textarea class="form-control" id="embedCode" placeholder="Embed Code" rows="3"></textarea>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
      <button class="btn btn-success" id="addBroadcastButton" type="button">Add Broadcast</button>
    </div>
  </div>
</div>
</div>

<script src="/js/pages/editBroadcast.js"></script>
