<% include parts/depend %>
<% include parts/navbar %>

<script src="/js/dependencies/marked.js"></script>
<script src="/js/dependencies/moment.js"></script>

<div class="small-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1><strong>Suns Talk Radio</strong> Blog</h1>
      </div>
    </div>
  </div>
</div>

<div class="blog-row-container">

  <% if (blogs.length == 0) { %>
    <div class="container">
      <center><h1 style="font-weight: 300">No Blog Posts</h1></center>
    </div>
  <% } else { %>
    <div class="container">
    <% for (var i = 0; i < blogs.length; i++) { %>
      <center>
      <div class="row">
        <div class="col-lg-12">
          <div class="blog-card">
            <div class="heading">
              <h1><a href="/blog/<%= blogs[i].blid %>"><%= blogs[i].title %></a></h1>
              <h3>By <%= blogs[i].author %> | <span id="lastUpdated<%= i %>"><%= blogs[i].updatedAt %></span></h3>
              <script>
                // Relative time
                var text = moment(document.getElementById("lastUpdated<%= i %>").innerHTML);
                var currentDate = moment().format("MM-DD-YYYY");
                document.getElementById("lastUpdated<%= i %>").innerHTML = moment(text, "MM-DD-YYYY").fromNow();
              </script>
            </div>
            <div class="body">
              <% if (blogs[i].slice == true) { %>
                <%- blogs[i].preview %>
              <% } else { %>
                <%- blogs[i].contents %>
              <% } %>
            </div>
            <div class="footer">
              <% if (blogs[i].slice == true) { %>
                <a href="/blog/<%= blogs[i].blid %>">Read More</a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </center>
      <% } %>
    </div>
  <% } %>
</div>
