<% include parts/depend %>
<% include parts/navbar %>

<script src="/js/dependencies/marked.js"></script>
<script src="/js/dependencies/moment.js"></script>

<div class="blog-row-container">

  <div class="container">
    <center>
      <div class="row">
        <div class="col-lg-12">
          <div class="blog-card">
            <div class="heading">
              <h1>
                <a href="/blog/<%= currentBlog.blid %>"><%= currentBlog.title %></a>
              </h1>
              <h3>By
                <%= currentBlog.author %>
                |
                <span id="lastUpdated"><%= currentBlog.createdAt %></span>
              </h3>
              <script>
                // Relative time
                var text = moment(document.getElementById("lastUpdated").innerHTML);
                var currentDate = moment().format("MM-DD-YYYY");
                document.getElementById("lastUpdated").innerHTML = moment(text, "MM-DD-YYYY").fromNow();
              </script>
            </div>
            <div class="body">
              <%- currentBlog.contents %>
            </div>
          </div>
        </div>
      </div>
      <br />
      <a class="btn btn-default btn-lg" href="/blog">Return to All Blog Posts</a>
    </center>
  </div>
</div>
